a:link {
    text-decoration:none
}
a:visited {
    text-decoration:none
}
a:hover {
    text-decoration:none
}
a:active {
    text-decoration:none
}

.personal-info {
    height: 100%;
    width: 100%;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo { 
    width: 120px; 
    height: 120px; 
    padding: 20px; 
    transition: transform .2s ease;
} 

.logo:hover { 
    transform: scale(1.1);
} 

body#gradient {
  background: #FFFFFF;
  background: linear-gradient(#FFFFFF, #DDDDDD);
}

#footer {
    text-align: center;
    font-size: 9px;
    font-family: "Helvetica", Arial, sans-serif;
    color: #25383C;  
    vertical-align: text-bottom;
}