a:link {
    text-decoration:none
}
a:visited {
    text-decoration:none
}
a:hover {
    text-decoration:none
}
a:active {
    text-decoration:none
}

.main-logo {
    position: absolute;
    width: 128px; 
    height: 128px;
}

.personal-info {
    height: 100%;
    width: 100%;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sub-logo { 
    width: 120px; 
    height: 120px; 
    padding: 20px; 
    transition: transform .2s ease;
} 

.sub-logo:hover { 
    transform: scale(1.1);
} 

body#gradient {
  background: #FFFFFF;
  background: linear-gradient(#FFFFFF, #DDDDDD);
}

#footer {
    position: absolute;
    font-size: 9px;
    font-family: "Helvetica", Arial, sans-serif;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    color: #25383C;  
}